<div class="container mt-5">
    <h2>{{ competition.code }}</h2>
    <table class="table table-striped mt-4">
        <tbody>
            <tr>
                <th scope="row">Date</th>
                <td>{{ competition.date }}</td>
            </tr>
            <tr>
                <th scope="row">Start Time</th>
                <td>{{ competition.startTime }}</td>
            </tr>
            <tr>
                <th scope="row">End Time</th>
                <td>{{ competition.endTime }}</td>
            </tr>
            <tr>
                <th scope="row">Location</th>
                <td>{{ competition.location }}</td>
            </tr>
            <tr>
                <th scope="row">Number of Participants</th>
                <td>{{ competition.numberOfParticipants }}</td>
            </tr>
            <tr>
                <th scope="row">Amount</th>
                <td>{{ competition.amount }} DH</td>
            </tr>
        </tbody>
    </table>
</div>