<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center my-5">
    <h1 class="text-dark">Competitions</h1>
    <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#createCompetitionModal">
      <i class="fas fa-plus"></i> New Competition
    </button>
  </div>
  <table class="table table-striped table-hover">
    <thead class="">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Code</th>
        <th scope="col">Date</th>
        <th scope="col">Start Time</th>
        <th scope="col">End Time</th>
        <th scope="col">Location</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let competition of competitions">
        <th scope="row">{{competition.id}}</th>
        <td><a class="text-decoration-none text-dark" [routerLink]="['/competitions', competition.id]">{{competition.code}}</a></td>
        <td><a class="text-decoration-none text-dark" [routerLink]="['/competitions', competition.id]">{{competition.date}}</a></td>
        <td><a class="text-decoration-none text-dark" [routerLink]="['/competitions', competition.id]">{{competition.startTime}}</a></td>
        <td><a class="text-decoration-none text-dark" [routerLink]="['/competitions', competition.id]">{{competition.endTime}}</a></td>
        <td><a class="text-decoration-none text-dark" [routerLink]="['/competitions', competition.id]">{{competition.location}}</a></td>
        <td>
          <span class="status-badge" [ngClass]="{
            'badge-completed': competition.status === 'COMPLETED',
            'badge-active': competition.status === 'ACTIVE',
            'badge-registering': competition.status === 'REG_CLOSED',
            'badge-coming': competition.status === 'COMING'
          }">{{competition.status}}</span>
        </td>
        <td>
          <button class="btn btn-sm btn-outline-success me-1" (click)="openEditModal(competition)">
            <i class="fas fa-edit"></i>
          </button>
          <button class="btn btn-sm btn-outline-danger" (click)="deleteCompetition(competition.id)">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container mt-5">
  <app-paginator 
    [pageNumber]="currentPage.pageNumber" 
    [pageFirst]="pageFirst"
    [pageLast]="pageLast"
    (pageChange)="pageChange($event)">
  </app-paginator>
</div>

<!-- Edit Competition Modal -->
<button id="openEditCompetitionModalButton" hidden type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editCompetitionModal"></button>
<div class="modal fade" tabindex="-1" id="editCompetitionModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Competition</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="date" class="form-control" name="date" id="date" [(ngModel)]="selectedCompetition.date">
          </div>
          <div class="mb-3">
            <label for="startTime" class="form-label">Start Time</label>
            <input type="time" class="form-control" name="startTime" id="startTime" [(ngModel)]="selectedCompetition.startTime">
          </div>
          <div class="mb-3">
            <label for="endTime" class="form-label">End Time</label>
            <input type="time" class="form-control" name="endTime" id="endTime" [(ngModel)]="selectedCompetition.endTime">
          </div>
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" name="location" id="location" [(ngModel)]="selectedCompetition.location">
          </div>
          <div class="modal-footer">
            <button (click)="updateCompetition()" type="submit" class="btn btn-success">Save changes</button>
            <button id="closeEditModalButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- create competition Modal -->
<div class="modal fade" id="createCompetitionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="createCompetitionModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="date" class="form-control" name="date" id="newdate" [(ngModel)]="newCompetition.date">
          </div>
          <div class="mb-3">
            <label for="startTime" class="form-label">Start Time</label>
            <input type="time" class="form-control" name="startTime" id="newstartTime" [(ngModel)]="newCompetition.startTime">
          </div>
          <div class="mb-3">
            <label for="endTime" class="form-label">End Time</label>
            <input type="time" class="form-control" name="endTime" id="newendTime" [(ngModel)]="newCompetition.endTime">
          </div>
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" name="location" id="newlocation" [(ngModel)]="newCompetition.location">
          </div>
          <div class="mb-3">
            <label for="location" class="form-label">Amount</label>
            <input type="number" class="form-control" name="amount" id="newamount" [(ngModel)]="newCompetition.amount">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="createCompetition()" type="button" class="btn btn-success">Create</button>
        <button type="button" id="closeCreateCompetitionModalButton" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>